name = "esi-worker"
main = "src/index.ts"
compatibility_date = "2025-01-29"
compatibility_flags = [ "nodejs_compat" ]
observability = { enabled = true}
workers_dev = false
preview_urls = false

# Route example 1
#route = {pattern = "example.com/esi/*",zone_id = "replace zone tag (ex: abcde1234fg)"}
# Route example 2
#route = {pattern = "*.example.com/*",zone_name = "replace zone name (ex: example.com)"}

# Route reference
# https://developers.cloudflare.com/workers/configuration/routing/routes/

#[vars]
#debug=true # verbose mode - print as much as possible
#fixedURL="https://www.google.com"  # always use fixed URL
#localtest="http://localhost:3000" # localtest mode, fixedURL + debug
#assign=true # enable esi:assign tag - could be slower than without it

# wrangler.toml reference
# https://developers.cloudflare.com/workers/wrangler/configuration/
